playwright==1.48.0
aiohttp==3.8.6
aiosignal==1.3.1
annotated-types==0.6.0
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.3
astor==0.8.1
astroid==2.15.1
asttokens==2.4.1
attrs==23.2.0
Automat==22.10.0
autopep8==1.6.0
backoff==2.2.1
bcrypt==4.2.0
blessed==1.20.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.1
constantly==23.10.4
contourpy==1.2.0
copier==9.4.1
cryptography==43.0.0
cssselect==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.6
distro==1.9.0
docstring-to-markdown==0.12
dunamai==1.22.0
ecdsa==0.19.0
editor==1.6.6
executing==2.0.1
fastapi==0.103.1
fastapi-pagination==0.9.3
filelock==3.13.1
flake8==6.0.0
fonttools==4.47.2
frozenlist==1.4.1
fsspec==2024.2.0
funcy==2.0
git-python==1.0.3
gitdb==4.0.11
GitPython==3.1.41
greenlet==3.1.1
h11==0.14.0
html2image==2.0.4.3
httpcore==1.0.2
httpx==0.26.0
huggingface-hub==0.20.3
hyperlink==21.0.0
idna==3.6
importlib-metadata==7.0.1
incremental==22.10.0
inquirer==3.2.3
ipykernel==6.29.0
isort==5.12.0
itemadapter==0.9.0
itemloaders==1.3.1
jedi==0.18.2
Jinja2==3.1.4
jinja2-ansible-filters==1.3.2
jmespath==1.0.1
jose==1.0.0
jupyter_client==8.6.0
jupyter_core==5.7.1
kiwisolver==1.4.5
lazy-object-proxy==1.4.1
litellm==1.22.3
lxml==5.2.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.7.0
mdurl==0.1.2
monotonic==1.6
multidict==6.0.5
nest-asyncio==1.6.0
numpy==1.26.3
open-interpreter==0.2.0
openai==1.11.1
packaging==23.0
parsel==1.9.1
parso==0.8.3
passlib==1.7.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.2.0
platformdirs==3.2.0
playwright==1.48.0
pluggy==1.0.0
plumbum==1.9.0
posthog==3.4.0
Protego==0.3.1
psutil==5.9.8
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycodestyle==2.10.0
pycparser==2.22
pydantic>=2.4.2
pydantic_core==2.10.1
PyDispatcher==2.0.7
pydocstyle==6.2.3
pyee==12.0.0
pyflakes==3.0.1
Pygments==2.17.2
pylint==2.17.1
pyOpenSSL==24.2.1
pyparsing==3.1.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-jose==3.3.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-multipart==0.0.5
pytoolconfig==1.2.5
PyYAML==6.0.1
pyzmq==25.1.2
questionary==2.0.1
queuelib==1.7.0
readchar==4.0.5
regex==2023.12.25
requests==2.31.0
requests-file==2.1.0
rich==13.7.0
rope==1.7.0
rsa==4.9
runs==1.2.2
Scrapy==2.11.2
scrapy-playwright==0.0.40
service-identity==24.1.0
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
stack-data==0.6.3
starlette==0.27.0
tiktoken==0.4.0
tldextract==5.1.2
tokenizers==0.15.1
tokentrim==0.1.13
toml==0.10.2
tomlkit==0.11.7
tornado==6.4
tqdm==4.66.1
traitlets==5.14.1
Twisted==24.3.0
typing_extensions==4.9.0
ujson==5.7.0
urllib3==2.2.0
uvicorn==0.21.1
w3lib==2.2.1
wcwidth==0.2.13
websocket-client==1.7.0
wget==3.2
whatthepatch==1.0.4
wrapt==1.15.0
xmod==1.8.1
yapf==0.32.0
yarl==1.9.4
zipp==3.17.0
zope.interface==6.4.post2

